/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    text-decoration: none;
    color: grey;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: white;
}

/* VARIABLES
COMMONS */

img {
    max-width: 100%;
}

:root{
    --sidebar: #000000;
    --header: #080B12 ;
    --navbot: #282828 ;
    --main: #141922;
}
ul {
    list-style-type: none;
}

.flex-main {
    display: flex;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;       
}

.flex-v {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 0;
}

.flex-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: .8rem;
}

.flex-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-card-bot {
    display: flex;
    gap: 10px;
    align-items: center;
    
}

/* ################################################################# */
                        /* DESKTOP FIRST VIEW max-width: 1200px */
/* #################################################################### */

/* ALL MAIN WRAPPER */

#wrapper {
    /* max-width: 1200px; */
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: blue;
    /* debug */
    /* background-color: rgb(75, 75, 12); */
}

/* --------------------------WRAPPER------------------------------------ */

/* FLEX-MAIN */
.flex-main{
    width: 100%;
    height: calc(100% - 100px);
    background-color:var(--main);
    display: flex;
    
}
/* --------------------------FLEX-MAIN------------------------------------ */

/* SIDE BAR */
#side-bar{
    width: 200px;
    height: 100%;
    background-color: var(--sidebar);
    display: grid;
}
#side-bar > * {
    color: gray;
}
#playlist > *{
    color: gray;
    line-height: 40px;
}
#logo-small{
    display: none;
}
#menu li > img {
    width: 30px;
    vertical-align: middle;
}
#graficline {
    width: 172px;
    height: 2px;
    background-color: rgb(133, 100, 100);
    position: relative;
    left: 2px;
    margin-top: 10px;
}
#user{
    display: flex;
}
#nameuser{
    margin-left: 10px;
    color: white;
    font-size: 20px;
}
#user img {
    background-color:gray;
    border-radius: 50%;
    width: 34px;  
    aspect-ratio: 1;
    
}
#install{
    justify-self: flex-end;
}
/* --------------------------SIDE BAR------------------------------------ */

/* MAIN */
#main{
    width: calc(100% - 200px);
    height:100%;
    background-color: var(--main);
    overflow: auto;
    position: relative;
}
/* NAVIGATION MENU UNDER HEADER */
#head-nav{
    margin-top: 5%;
}
#head-nav li:hover{
    color: white;
}
#head-nav hr:hover{
    color: green;
}

#head-nav li:hover hr{
    display: block;
    opacity: 1;
}
#main ul {
    margin: 100px auto;
    text-align: center;
}
/* HEAD TITLE */
.head-title{
    color: aliceblue;
    margin: 70px 20px;
}
/*  1 ALBUM CARDS */
.card img{
    width: 250px;
}
.title{
   font-size: 25px;
}
.card h4, .card h5 {
    text-align: center;
    margin: 10px 0;
} 
.card {
    cursor: pointer;  
    width: calc(100% / 6 - 20px);
    position: relative;
}
.card:hover .play {
    display: block;       
}
.card:hover img{
    opacity: .5;
}

.row1{
    margin-left: 20px;
}
.play {
    display: none;      
    font-size: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -93%);  
}
/* <!-- 2 HEAD TITLE --> */
#head-title{
    margin: 70px 0px 20px 20px;
}
#paragraph-title{
    margin-left: 20px;
}
/* --------------------------MAIN------------------------------------ */
/* HEADER */
#main header{
        text-align: end;
        height: 90px;
        line-height: 90px;
        width: calc(100% - 200px);
        position: fixed;
        z-index: 998;
        top: 0;
        opacity: .3;    
        background-color: rgba(0,0,0, .5);
        padding-right: 50px ;
        /* debug */
        /* border: 1px solid yellow; */
    }
    
    #main header > a {
        border: 1px solid white;
        border-radius: 20px;
        padding: 10px 20px;
        opacity: 1;
        color: rgb(75, 75, 75);
    }
    #main header > a:hover {
        font-size: 1.3rem;
        color: white;
                
    }

/* --------------------------HEADER------------------------------------ */


/* BOTTOM NAV */
#nav-bot {
    width: 100%;
    height: 100px;
    background-color: var(--navbot);
    /* debug */
    /* border: 1px solid green; */
}

#nav-bot > * {
    margin: 10px 20px;
    /* debug */
    /* border: 1px solid red; */
}

#currently *, #play *, #comand *{
    cursor: pointer;
}


#nav-bot #currently {
    width: 300px;
}
#nav-bot #comand {
    width: 180px;
}

#nav-bot #play{
    width: 40%;
    padding: 10px 0;
    align-items: center;
}

#currently i {
    margin: 0 10px;    
}

#comand-play ul{
    display: flex;
    gap: 40px;
    margin-left: -25px;
    align-items: center;
}

.card-bot #sinister {
    max-width: 30%;
    min-width: 30%;
}

.description h5 {
    color: gray;
}

/* BONUS NAV BOT HOVER */

.description h5:hover {
    color: white;
    text-decoration: underline;
}

#icon i:hover {
    color: white;
    scale: 1.2;
}

#volume {
    width: 30px;
    height: 3px;
    background-color: white;
    display: inline-block;
}

#under-volume{
    width: 50px;
    height: 3px;
    background-color: #5f6572;
    position: relative;
    left: -13px;
}

#currently .description {
    font-size: .8rem;
}

#icon {
    display: flex;
    
}

#progress {
    max-width: 100%;
}

.bar {
    display: flex;
    
}
#progress-bar {
    width: 63px;
    height: 4px;
    background-color: white;
    display: inline-block;
    
}

#under-bar {
    width: 200px;
    height: 4px;
    background-color: rgb(133, 100, 100);
    position: relative;
    left: -16px;    
}



.bar .circle {
    height: 12px;
    width: 12px;
    /* display: inline-block; */
    border: 1px solid green;
    border-radius: 50%;
    background-color: green;
    position: relative;
    left: 0px;
    top: -3px;
    /* display: none; */
    opacity: 0;
}

.bar:hover .circle {
    opacity: 1;
    z-index: 1;
    left: -4px;
}

.bar:hover #progress-bar {
    background-color: green;
    width: 66px;
}

#comand .bar:hover #volume{
    background-color: green;
}



#comand > * {
    margin: 0 4px;
}

#comand-play .plays {
    font-size: 1.6rem;
}

#comand-play ul:hover .plays {
    transform: scale(1.3);
}

/* --------------------------BOTTOM-NAV------------------------------------ */




